pe-popover {
  --_popover-inset: var(--popover-inset, auto);
  --_popover-translate-open: var(--popover-translate-open, translate(0, 0));
  --_popover-translate-closed: var(--popover-translate-closed, translate(0, 0));
  --_popover-scale-open: var(--popover-scale-open, 1);
  --_popover-scale-closed: var(--popover-scale-closed, 1);
  --_popover-content-min-width: var(--popover-content-min-width, 20rem);
  --_popover-content-max-width: var(--popover-content-max-width, none);

  position: fixed;
  inset: var(--_popover-inset);
  z-index: 1000;
  display: grid;
  padding: 0.5rem;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 0.75rem;
}

pe-popover[mode="drawer"] {
  --popover-inset: 1rem 1rem 1rem auto;
  --popover-translate-closed: translateX(10%);
  --popover-content-min-width: 30rem;
}

pe-popover[mode="dialog"] {
  --popover-inset: 50% auto auto 50%;
  --popover-translate-open: translate(-50%, -50%);
  --popover-translate-closed: translate(-50%, -50%);
  --popover-scale-open: 1;
  --popover-scale-closed: 0.95;
  --popover-content-min-width: 30rem;
  --popover-content-max-width: 40rem;

  max-height: calc(100% - 2rem);
  max-width: calc(100% - 2rem);
}

pe-popover-content {
  min-width: var(--_popover-content-min-width);
  max-width: var(--_popover-content-max-width);
  height: 100%;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ccc;
  display: grid;
  grid-template-rows: max-content 1fr;
  border-radius: 0.5rem;
  padding-inline: 1rem;
  padding-block: 1rem;
}

pe-popover-dismiss {
  position: fixed;
  inset: 0;
}

pe-outlet {
  display: block;
  overflow: scroll;
  padding-inline: 1rem;
  padding-block: 3rem;
  height: 100%;
}

:where(pe-popover[popover]):popover-open {
  opacity: 1;
  transform: var(--_popover-translate-open) scale(var(--_popover-scale-open));
}

:where(pe-popover[popover]) {
  border: none;
  background-color: initial;
  opacity: 0;
  transform: var(--_popover-translate-closed)
    scale(var(--_popover-scale-closed));

  transition:
    opacity 0.15s,
    transform 0.15s,
    overlay 0.15s allow-discrete,
    display 0.15s allow-discrete;
}

@starting-style {
  :where(pe-popover[popover]):popover-open {
    opacity: 0;
    transform: var(--_popover-translate-closed)
      scale(var(--_popover-scale-closed));
  }
}

:where(pe-popover[popover])::backdrop {
  background-color: transparent;
  transition:
    display 0.15s allow-discrete,
    overlay 0.15s allow-discrete,
    background-color 0.15s;
}

:where(pe-popover[popover]):popover-open::backdrop {
  background-color: rgb(222 222 222 / 50%);
}

@starting-style {
  :where(pe-popover[popover]):popover-open::backdrop {
    background-color: transparent;
  }
}
