@import "./reset.css";
@import "./variables.css";
@import "./colors.css";
@import "./helpers.css";
@import "./button.css";
@import "./input.css";
@import "./pe-popover.css";

@layer base {
  html {
    font-family: system-ui;
  }
}

:is(.site-header, .site-main) {
  max-width: 1200px;
}

.site-header {
  view-transition-name: site-header;

  padding: 1rem 2rem;
  background: var(--bg-default);
  margin-inline: 1rem;
  margin-bottom: 5rem;
  border-radius: 3rem;
  /*position: sticky;
  top: 0;*/
}

.nav-item {
  color: inherit;
}

::view-transition-group(.book) {
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(0, 0, 0.04, 0.98);
}

:where(a:not([class])),
.link {
  color: var(--color-text-primary);
  text-underline-offset: clamp(2px, 0.225em, 6px);
  text-decoration: underline;
  text-decoration-thickness: max(1px, min(0.1em, 3px));
  -webkit-text-decoration-color: var(--color-text-quaternary);
  text-decoration-color: var(--color-text-quaternary);
  transition: var(--speed-regularTransition);
  transition-property:
    color,
    -webkit-text-decoration-color,
    text-decoration-color,
    background;
}

.popover-filter {
  position-area: top center;
  /*inset-block-end: calc(anchor(start) + 10px);*/
  transform-origin: bottom center;
}

:where(.popover-filter[popover]):popover-open {
  opacity: 1;
  transform: scale(1);
}

:where(.popover-filter[popover]) {
  border: none;
  background-color: initial;

  /* Final state of the exit animation */
  opacity: 0;
  transform: scale(0.95);

  transition:
    opacity 0.15s,
    transform 0.15s,
    overlay 0.15s allow-discrete,
    display 0.15s allow-discrete;
  /* Equivalent to
  transition: all 0.7s allow-discrete; */
}

/* Needs to be after the previous [popover]:popover-open rule
to take effect, as the specificity is the same */
@starting-style {
  :where(.popover-filter[popover]):popover-open {
    opacity: 0;
    transform: scale(0.95);
  }
}

/* Transition for the popover's backdrop */

:where(.popover-filter[popover])::backdrop {
  background-color: transparent;
  transition:
    display 0.15s allow-discrete,
    overlay 0.15s allow-discrete,
    background-color 0.15s;
  /* Equivalent to
  transition: all 0.7s allow-discrete; */
}

:where(.popover-filter[popover]):popover-open::backdrop {
  background-color: rgb(0 0 0 / 0%);
}

/* The nesting selector (&) cannot represent pseudo-elements
so this starting-style rule cannot be nested */

@starting-style {
  :where(.popover-filter[popover]):popover-open::backdrop {
    background-color: transparent;
  }
}

.crazy-gradient {
  background-color: hsla(197, 92%, 60%, 1);
  background-image:
    radial-gradient(
      circle at 96% 96%,
      hsla(55, 93%, 54%, 0.85) 5%,
      transparent 86%
    ),
    radial-gradient(
      circle at 5% 90%,
      hsla(229, 71%, 68%, 1) 13%,
      transparent 65%
    ),
    radial-gradient(
      circle at 57% 73%,
      hsla(308, 93%, 51%, 1) 3%,
      transparent 89%
    ),
    radial-gradient(
      circle at 20% 4%,
      hsla(318, 60%, 76%, 1) 22%,
      transparent 56%
    ),
    radial-gradient(
      circle at 74% 15%,
      hsla(324, 92%, 59%, 1) 13%,
      transparent 57%
    );
  background-blend-mode: normal, normal, normal, normal, normal;
}
